.container {
	background-color: grey;
	width: 1024px;
	height:1024px;
	margin: 0 auto;
}
.header {
	background-color: red;
	text-align: center;
	height: 60px;
	border-width: 10px;
	border-color: red;
	font-family: Times;
	font-size: 44px;
	font-style: bold;
}
.navigation {
	background-color: white;
	width: 1024px;
	height: 18px;
}
.about {
	background-color: blue;
	float: left;
	width: 170px;
	text-align: center;
	font-family: Times;
	font-style: bold;
}
.professional {
	background-color: purple;
	float: left;
	width: 170px;
	text-align: center;
	font-family: Times;
	font-style: bold;
}
.hobby {
	background-color: yellow;
	float: left;
	width: 170px;
	text-align: center;
	font-family: Times;
	font-style: bold;
}
.blog {
	background-color: orange;
	float: left;
	width: 170px;
	text-align: center;
	font-family: Times;
	font-style: bold;
}
.photos {
	background-color: green;
	float: left;
	width: 170px;
	text-align: center;
	font-family: Times;
	font-style: bold;
}
.contact {
	background-color: white;
	float: left;
	width: 170px;
	text-align: center;
	font-family: Times;
	font-style: bold;
}
.footer {
	background-color: black;
	width: 1024px;
	height: 50px;
	text-align: center;
	font-style: bold;
}
.content {
	height: 900px;
	width: 1024px;
	font-family: Times;
}